/*Selector universal - global*/

* {
    margin: 0px;
    padding: 0px;
}

body{

    background-image: url(https://thumbs.dreamstime.com/z/modelo-incons%C3%BAtil-de-los-muebles-fondo-ejemplo-vector-en-89533012.jpg);
    background-repeat: repeat-x repeat-y;
}
    /*La altura del elemento está constituida por la suma de su margin, border, padding
    y la altura del contenido*/

    /*Altura del elemento h1 25px + 25px + 5px + 5px + 10px + 10px + 60px = 140px*/

    /*Modelo de caja*/

/*Regla CSS*/

/*estilos del header*/
header {
    background-color: #364552;
    position: fixed; /*static, absolute, fixed, sticky*/
    width: 100%;
    display: flex; /*None, block, inline, flex, grid*/
    flex-direction: row; /*row, column*/
    justify-content: space-between; /*alinea en el eje x - horizontal*/
    align-items: center; /*Alinea en el eje y - vertical*/
}

header h1{
    text-align: center;
    color: white;
    font-size: 5rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.185);
}
header img{
    
    height: 120px ;
    border: 10 px solid white;
    border-top: 0px;
    border-bottom: 0px;
    margin-top: 0px;
    width: 200px;
    
}


nav ul{

    
    margin: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-right: 50px;
}

nav{
    width: 20rem;
    margin : 0 2rem;


}
nav ul li{

    margin: 5px;
   
    

}


nav ul li a{
    
    /* padding: 2rem; */

    color: white;
    font-size: 18pt; /*rem, px, pt*/
    text-decoration: none;
    transition: font-size 0.3s ease;    
}

nav ul li a:hover{ /*seudoselector*/
    
    padding: 0;
    color: black;
    font-size: 20pt; /*rem, px, pt*/
    /* text-decoration: none; */
    
}
nav ul li a:active{

    color:rgba(22, 20, 20, 0.3);
    text-shadow: 5px 5px 5px;    
}

/*fin de estilos del header*/   


main{
    margin-bottom: 4rem;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}




main section{
    
    background-color: #fff;
    margin: 5rem;
    padding: 5rem;
   /*
    border-style: solid;
    border-width: 3px;
    border-color: black;

    border: solid black 3px; -> Short hand
    
    */
    border-radius: 2rem;

    box-shadow: 5px -5px 8px rgba(0, 0, 0, 0.242), -5px 5px 12px rgba(0, 0, 0, 0.263);

    height: 400px;
    width: 400px;
    transition: box-shadow 0.3s ease-in-out;
}

main section:hover{

    box-shadow: 5px -5px 8px rgba(0, 0, 0, 0.642), -5px 5px 12px rgba(0, 0, 0, 0.663);
    cursor: pointer;
    
}


/*Seccion del formulari de contacto*/



.section-formu{

    margin: 5rem;
    padding: 2rem;

}

.formu{

    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0.5rem;

}


.formu label{
    margin-bottom: 0.5rem;
}

.formu input{

    border-radius: 1rem;
    border-color: rgba(0, 0, 255, 0.363);
    font-size: 14pt;
    padding-left: 1rem;

}

.formu textarea{

    border-radius: 1rem;
    border-color: rgba(0, 0, 255, 0.363);
    font-size: 14pt;
    padding-left: 1rem;

}

.formu input::placeholder{

    color: rgba(0, 0, 255, 0.219);

}

.formu button{

    font-size: 14pt;
    color: white;
    background-color: rgba(0, 0, 255, 0.363);
    border: none;
    border-radius: 1rem;
    padding: 0.3rem;

}

/*Fin Seccion del formulari de contacto*/



/*Sección de catalogo*/

.main-product{
    margin-bottom: 4rem;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.seccion-product{
    padding: 2rem;
    margin: 2rem;
    width: 15rem;
}

.seccion-product article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion-product h1{
    margin: 1rem;
}

.seccion-product p{
    margin: 1rem;
}

.seccion-product img{
    width: 15rem;
}

.seccion-product button{
    width: 100%;
    padding: 0.3rem;
    color:white;
    background-color: #364552;
    border:none;
    border-radius: 3rem;
    font-size: 12pt;
    transition: all 0.3s ease;
}

.seccion-product button:hover{
    background-color: #335879;
    padding: 0.4rem;
    font-size: 14pt;
}

.seccion-product .hidden-content{
    background-color: #335879;
    margin: 1rem;
    opacity: 0;
    transition: all 0.3s ease-in;
}



/*Fin sección catalogo*/



footer{    
    
    background-color: #222;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
}
footer div {

    position: relative;
    left: 40rem;
}
footer div a{
    color: #fff;
    text-decoration: none;
}
/*

    Modelo de caja flexible.

*/





