*{
    margin: 0;
    padding: 0;
}

/* body{

  

} */

header{

    background-color: blanchedalmond;
    position: fixed;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18pt;
    
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}
